@{
    ViewBag.Title = "Home";
}

<!-- Mission Box -->
<section class="mission-section column-view">
    <div class="auto-container">
        <div class="sec-title">
            <h3>Our mission is to be a one-stop solution for <br /> "your sporting needs"</h3>
        </div>
        <div class="row clearfix">
            <!-- Art 01 -->
            <article class="mission_box column-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1000ms">
                <div class="inner-box">
                    <figure class="image">
                        <a href="#"><img src="~/Content/images/mission_img_01.jpg" alt="Image" title="Featured Service"></a>
                        <a href="#" class="theme-btn dark-btn">Read More</a>
                    </figure>
                    <div class="overlay-box">
                        <h3>Play a Sport</h3>
                        <div class="text">
                            <p>Finding a buddy to play with can be a difficult or impossible task, let us help you connect to your BEST CHOICE on buddies to play with and the arena's to plat at.</p>
                        </div>
                    </div>
                    <div class="post-content clearfix">
                        <h3>Play a Sport</h3>
                        <div class="text-center">
                            <a href="#">Find an Arena/Playground Find a Buddy</a>
                        </div>
                    </div>
                </div>
            </article>
            <!-- Art 01 -->
            <!-- Art 02 -->
            <article class="mission_box column-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1000ms">
                <div class="inner-box">
                    <figure class="image">
                        <a href="#"><img src="~/Content/images/mission_img_02.jpg" alt="Image" title="Featured Service"></a>
                        <a href="#" class="theme-btn dark-btn">Read More</a>
                    </figure>
                    <div class="post-content clearfix">
                        <h3>I want Coaching</h3>
                        <div class="text-center">
                            <a href="#">Coaching by The Experts Search and Book a Coach</a>
                        </div>
                    </div>
                    <div class="overlay-box">
                        <h3>I want Coaching</h3>
                        <div class="text">
                            <p>Sports coaches help individuals achieve their full sporting potential. Our coaches are qualified to get you to your desired goals AND BEYOND.</p>
                        </div>
                    </div>
                </div>
            </article>
            <!-- Art 02 -->
            <!-- Art 03 -->
            <article class="mission_box column-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1000ms">
                <div class="inner-box">
                    <figure class="image">
                        <a href="#"><img src="~/Content/images/mission_img_03.jpg" alt="Image" title="Featured Service"></a>
                        <a href="#" class="theme-btn dark-btn">Read More</a>
                    </figure>
                    <div class="post-content clearfix">
                        <h3>I want to Coach </h3>
                        <div class="text-center">
                            <a href="#">Register As a Coach Register As a Referee</a>
                        </div>
                    </div>
                    <div class="overlay-box">
                        <h3>I want to Coach </h3>
                        <div class="text">
                            <p>Register with us if you LOVE SPORTS and want to help people perform at their highest level, Join our nationwide team and unleash your ultimate career options. </p>
                        </div>
                    </div>
                </div>
            </article>
            <!-- Art 03 -->
            <!-- Art 04 -->
            <article class="mission_box column-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1000ms">
                <div class="inner-box">
                    <figure class="image">
                        <a href="#"><img src="~/Content/images/mission_img_04.jpg" alt="Image" title="Featured Service"></a>
                        <a href="#" class="theme-btn dark-btn">Read More</a>
                    </figure>
                    <div class="post-content clearfix">
                        <h3>Register a Sports Arena</h3>
                        <div class="text-center">
                            <a href="#">Register My Arena</a>
                        </div>
                    </div>
                    <div class="overlay-box">
                        <h3>Register a Sports Arena</h3>
                        <div class="text">
                            <p>The Nation's best sporting arena's come in contact with their real users here. Help your playground/arena GET NOTICED to achieve their best potential.</p>
                        </div>
                    </div>
                </div>
            </article>
            <!-- Art 04 -->
            <!-- Art 05 -->
            <article class="mission_box column-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1000ms">
                <div class="inner-box">
                    <figure class="image">
                        <a href="#"><img src="~/Content/images/mission_img_05.jpg" alt="Image" title="Featured Service"></a>
                        <a href="#" class="theme-btn dark-btn">Read More</a>
                    </figure>
                    <div class="post-content clearfix">
                        <h3>Play Tournaments</h3>
                        <div class="text-center">
                            <a href="#">Register My League play Tournaments</a>
                        </div>
                    </div>
                    <div class="overlay-box">
                        <h3>Play Tournaments</h3>
                        <div class="text">
                            <p>Instead of waiting for friends to get online, enable your team to be searched by millions others who are keen to play like you, easily enable your team to play against people nation wide.</p>
                        </div>
                    </div>
                </div>
            </article>
            <!-- Art 05 -->
        </div>
    </div>
</section>
<section class="slider_second">
    <img src="~/Content/images/slider_second_bg.jpg">
</section>
<!-- Second Slider -->
<!-- Testimonial Slider -->
<section class="testimonials_sec ">
    <div class="container">
        <div class="sec-title">
            <h3>"what our clients say about us"</h3>
        </div>
        <div class="testimonial_slider">
            <div class="testimonial_bx">
                <div class="profile_bx">
                    <img src="~/Content/images/client_profile_01.jpg" alt="Image">
                    <h3>Jitendra Mhatre</h3>
                    <span>
                        (Head Coach) <br />
                        Varchasva Sports, Navi Mumbai
                    </span>
                </div>
                <div class="testi_bx">
                    <p class="testimonial_txt">This is a great platform for the every-day sportsman. I am very exited to see this site help individuals in their daily sporting life. This surely is a win-win for all.</p>
                </div>
            </div>
            <div class="testimonial_bx">
                <div class="profile_bx">
                    <img src="~/Content/images/client_profile_02.jpg" alt="Image">
                    <h3>Sonali Sancheti </h3>
                    <span>(Soccer Mom) <br />Indore<br /></span>
                </div>
                <div class="testi_bx">
                    <p class="testimonial_txt">I found this integrated platform very easy to use and precise for what I was looking for. Sporting families will immensely benefit from this.</p>
                </div>
            </div>
            <div class="testimonial_bx">
                <div class="profile_bx">
                    <img src="~/Content/images/client_profile_01.jpg" alt="Image">
                    <h3>Sonali Sancheti </h3>
                    <span>(Soccer Mom) <br />Indore<br /></span>
                </div>
                <div class="testi_bx">
                    <p class="testimonial_txt">I found this integrated platform very easy to use and precise for what I was looking for. Sporting families will immensely benefit from this.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Testimonial Slider -->
<section class="newsletter_sec">
    <div class="container">
        <div class="col-md-8 col-sm-6 col-xs-12"><span>Stay updated :</span> Sign up if you would like to receive the newest updates and other free goods.</div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <form method="post" action="#" class="newsletter-form right">
                <fieldset>
                    <input type="text" id="txtEmailId" class="search-input s-grid-3" value="" placeholder="Your email address" name="txtEmailId">
                    <button id="btnNewsletter" class="search-btn btn btn-red" type="button">
                        Submit
                    </button>
                </fieldset>
            </form>
        </div>
    </div>
</section>

<script type="text/javascript">
                $(function () {
                    $('#btnNewsletter').click(function (e) {
                        e.preventDefault();
                        abp.ui.setBusy(
                            $('.newsletter_sec'),
                            abp.ajax({
                                url: abp.appPath + 'Home/Newsletter',
                                type: 'POST',
                                data: JSON.stringify({
                                    email: $('#txtEmailId').val(),
                                    isSubscribed: true
                                }),
                                success: function (response) {
                                    if (response != null && response.success) {
                                        alert(response.responseText);
                                    } else {
                                        alert(response.responseText);
                                    }
                                },
                                error: function (response) {
                                    alert("error!");  //
                                }
                            })
                        );
                    });
                });
</script>
<!-- Subfooter Box -->
<section class="subfooter_sec">
    <div class="container">
        <div class="row">
            <div class="subfooter_col col-md-3 col-sm-6">
                <p><img src="~/Content/images/footer_logo.png" style="margin-top:20px;" alt="Image"></p>
            </div>
            <div class="subfooter_col col-md-3 col-sm-6">
                <h2>Help and Support</h2>
                <ul>
                    <li><a href="#">Have a Suggestion</a></li>
                    <li><a href="#">Partnership</a></li>
                    <li><a href="#">Advertise</a></li>
                </ul>
            </div>
            <div class="subfooter_col col-md-3 col-sm-6">
                <h2>Follow Us</h2>
                <ul class="social">
                    <li><a href="#" class="fa fb"><img src="~/Content/images/1px.gif" class="px1" alt=""></a> Facebook</li>
                    <li><a href="#" class="fa tw"><img src="~/Content/images/1px.gif" class="px1" alt=""></a> Twitter</li>
                    <li><a href="#" class="fa gplus"><img src="~/Content/images/1px.gif" class="px1" alt=""></a> Google+</li>
                </ul>
            </div>
            <div class="subfooter_col col-md-3 col-sm-6">
                <h2>About Us</h2>
                <p>We are a team of sports enthusiasts who believe that enabling better sporting opportunities is the best way to build a healthier community for the future</p>
                <p>Email : <a href="mailto:admin@sportsrus.in">admin@sportsrus.in</a></p>
            </div>
        </div>
    </div>
</section>
<!-- Subfooter Box End -->