
<footer class="footer">
    <div class="footer-meta">
        <div class="container">
            <div class="row">

                <div class="col-sm-12">
                    <div class="copyright">All rights reserved. Copyright &copy; 2016 Sports R Us</div>
                </div>

            </div>
        </div>
    </div>
</footer>