
<!-- Main Slider -->
<section class="main-slider">
    <div class="tp-banner-container">
        <div class="tp-banner">
            <ul>
                <!-- Slide 01 -->
                <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-thumb="/Content/images/main-slider/image-1.jpg" data-saveperformance="off" data-title="Next">
                    <img src="~/Content/images/main-slider/image-1.jpg" alt="" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                    <div class="tp-caption lfl tp-resizeme"
                         data-x="30" data-hoffset="0"
                         data-y="60" data-voffset="-50"
                         data-speed="1500"
                         data-start="500"
                         data-easing="easeOutExpo"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.01"
                         data-endelementdelay="0.3"
                         data-endspeed="1200"
                         data-endeasing="Power4.easeIn"
                         style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;">
                        <div class="img-title">
                            <img src="~/Content/images/main-slider/banner_man_01.png" data-bgrepeat="no-repeat">
                        </div>
                    </div>
                    <div class="tp-caption lfr tp-resizeme"
                         data-x="600" data-hoffset="0"
                         data-y="200" data-voffset="50"
                         data-speed="1500"
                         data-start="500"
                         data-easing="easeOutExpo"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.01"
                         data-endelementdelay="0.3"
                         data-endspeed="1200"
                         data-endeasing="Power4.easeIn"
                         style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;">
                        <div class="white-title">
                            <h2>I live AND breathe CRICKET.<br />Looking to play some good<br />COMPETITIVE SPORT</h2>
                        </div>
                    </div>
                    <div class="tp-caption lfr tp-resizeme banner_bottom_bx"
                         data-x="600" data-hoffset="0"
                         data-y="400" data-voffset="50"
                         data-speed="1500"
                         data-start="500"
                         data-easing="easeOutExpo"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.01"
                         data-endelementdelay="0.3"
                         data-endspeed="1200"
                         data-endeasing="Power4.easeIn"
                         style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;">
                        <div class="bott_bx bg_green">
                            <h3>Search And Book</h3>
                            <h4>A Sports Arena</h4>
                        </div>
                        <div class="bott_bx bg_yellow">
                            <h3>Register</h3>
                            <h4>And Play Your League</h4>
                        </div>
                        <div class="bott_bx bg_purple">
                            <h3>Search For</h3>
                            <h4>Competitive Play</h4>
                        </div>
                        <div class="bott_bx bg_blue">
                            <h3>Local & </h3>
                            <h4>National Reach</h4>
                        </div>
                    </div>
                </li>
                <!-- Slide 02 -->
                <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-thumb="/Content/images/main-slider/image-2.jpg" data-saveperformance="off" data-title="Next">
                    <img src="~/Content/images/main-slider/image-2.jpg" alt="" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                    <div class="tp-caption lfl tp-resizeme"
                         data-x="30" data-hoffset="0"
                         data-y="60" data-voffset="-50"
                         data-speed="1500"
                         data-start="500"
                         data-easing="easeOutExpo"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.01"
                         data-endelementdelay="0.3"
                         data-endspeed="1200"
                         data-endeasing="Power4.easeIn"
                         style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;">
                        <div class="img-title">
                            <img src="~/Content/images/main-slider/banner_man_02.png" data-bgrepeat="no-repeat">
                        </div>
                    </div>
                    <div class="tp-caption lfr tp-resizeme"
                         data-x="600" data-hoffset="0"
                         data-y="200" data-voffset="50"
                         data-speed="1500"
                         data-start="500"
                         data-easing="easeOutExpo"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.01"
                         data-endelementdelay="0.3"
                         data-endspeed="1200"
                         data-endeasing="Power4.easeIn"
                         style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;">
                        <div class="white-title">
                            <h2> I am a SOCCER MOM. <br />I want to get my daughter<br />COACHED BY THE EXPERTS</h2>
                        </div>
                    </div>
                    <div class="tp-caption lfr tp-resizeme banner_bottom_bx"
                         data-x="600" data-hoffset="0"
                         data-y="400" data-voffset="50"
                         data-speed="1500"
                         data-start="500"
                         data-easing="easeOutExpo"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.01"
                         data-endelementdelay="0.3"
                         data-endspeed="1200"
                         data-endeasing="Power4.easeIn"
                         style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;">

                        <div class="bott_bx bg_green">
                            <h3>Local</h3>
                            <h4>Coaches</h4>
                        </div>

                        <div class="bott_bx bg_yellow">
                            <h3>Certified</h3>
                            <h4>Professionals</h4>
                        </div>

                        <div class="bott_bx bg_purple">
                            <h3>Predefined</h3>
                            <h4>Packages</h4>
                        </div>

                        <div class="bott_bx bg_blue">
                            <h3>Beginner</h3>
                            <h4>Expert Level</h4>
                        </div>

                    </div>
                </li>
                <!-- Slide 03 -->
                <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-thumb="/Content/images/main-slider/image-3.jpg" data-saveperformance="off" data-title="Next">
                    <img src="~/Content/images/main-slider/image-3.jpg" alt="" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                    <div class="tp-caption lfl tp-resizeme"
                         data-x="200" data-hoffset="0"
                         data-y="100" data-voffset="-50"
                         data-speed="1500"
                         data-start="500"
                         data-easing="easeOutExpo"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.01"
                         data-endelementdelay="0.3"
                         data-endspeed="1200"
                         data-endeasing="Power4.easeIn"
                         style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;"><div class="img-title"><img src="~/Content/images/main-slider/banner_man_03.png" data-bgrepeat="no-repeat"></div></div>
                    <div class="tp-caption lfr tp-resizeme"
                         data-x="600" data-hoffset="0"
                         data-y="200" data-voffset="50"
                         data-speed="1500"
                         data-start="500"
                         data-easing="easeOutExpo"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.01"
                         data-endelementdelay="0.3"
                         data-endspeed="1200"
                         data-endeasing="Power4.easeIn"
                         style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;">
                        <div class="white-title">
                            <h2>I Am A Golf Coach.<br />I Will be Happy To Coach You<br />And Improve Your Game</h2>
                        </div>

                    </div>
                    <div class="tp-caption lfr tp-resizeme banner_bottom_bx"
                         data-x="600" data-hoffset="0"
                         data-y="400" data-voffset="50"
                         data-speed="1500"
                         data-start="500"
                         data-easing="easeOutExpo"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.01"
                         data-endelementdelay="0.3"
                         data-endspeed="1200"
                         data-endeasing="Power4.easeIn"
                         style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;">
                        <div class="bott_bx bg_green">
                            <h3>National</h3>
                            <h4>Reach Of Students</h4>
                        </div>
                        <div class="bott_bx bg_yellow">
                            <h3>Referee</h3>
                            <h4>For A Game</h4>
                        </div>
                        <div class="bott_bx bg_purple">
                            <h3>Secure</h3>
                            <h4>Payments</h4>
                        </div>
                        <div class="bott_bx bg_blue">
                            <h3>Unlimited</h3>
                            <h4>Network</h4>
                        </div>
                    </div>
                </li>
            </ul>
            <!--<div class="tp-bannertimer"></div>-->
            <div class="bottom_go_arrow"> <span><img src="~/Content/images/down_arrow.png" style="margin-top:8px;" alt="Image"></span> </div>
        </div>
    </div>
</section>